.Login{
    align-items: center;
    margin-block-start: 35px;
    
}
.form{
    width: 36%;
    height: 410px;
    background-color: whitesmoke;
    box-shadow: 2px 1px  #7d7980;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 30%;
    padding-top: 3%;

   
}
.input{
   
   
    
   
    justify-content: space-around;
  
}
.input1{
    width: 335px;
    height: 30px;
    border: none;
    border-radius: 7px;
    margin-block-end: 20px;
    
}
.input2{
    width: 335px;
    height: 30px;
    border: none;
    border-radius: 7px;
    margin-block-end: 20px;
}

.forgot{
    margin-block-end: 80px;
    font-size: smaller;
    text-align: center;
    display:flex;
    justify-content: space-between;
    /* background-color: tomato; */
    margin-left: 103px;
    width: 342px;
    
}
.forgot2{
    text-decoration: none;
    /* align-self: flex-end; */
}
.forgot3{
    display: flex;
    margin-left: 199px;
    width: 142px;
    /* background-color: wheat; */
    justify-content: space-evenly;

}

.loginbutton{
    width: 335px;
    height: 30px;
    background-color: #7C1FBF;
    color: white;
    border: none;
    border-radius: 7px;
    margin-block-end: 20px;
}